option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: mysite.settings

container_commands:
  01_migrate:
    command: "django-admin migrate"
    leader_only: true
  02_crontab_remove:
    command: "python manage.py crontab remove"
    leader_only: true
  03_crontab_add:
    command: "python manage.py crontab add"
    leader_only: true