.container.body {
  padding: 20px;
  font-size: 12px; }
  .container.body .header_container {
    position: relative;
    margin: auto;
    width: 700px;
    border: 5px solid #1F629A; }
    .container.body .header_container .header_title {
      font-size: 25px;
      line-height: 45px;
      text-align: center; }
  .container.body .body_container {
    position: relative;
    margin-top: 30px; }
    .container.body .body_container .regist_form {
      border: 2px solid #1F629A;
      padding: 20px;
      width: 650px;
      margin: auto; }
      .container.body .body_container .regist_form .table_container {
        position: relative;
        margin: auto; }
        .container.body .body_container .regist_form .table_container .table_title {
          width: 360px;
          margin: auto;
          border: 2px solid #1F629A;
          text-align: center;
          line-height: 20px;
          font-size: 15px; }
        .container.body .body_container .regist_form .table_container .table_detail {
          margin-top: 15px;
          text-align: center; }
          .container.body .body_container .regist_form .table_container .table_detail .table_scenario {
            position: absolute;
            width: 400px; }
            .container.body .body_container .regist_form .table_container .table_detail .table_scenario .table_scenario_title {
              display: block;
              box-sizing: border-box;
              border: 2px solid #1F629A;
              line-height: 20px; }
            .container.body .body_container .regist_form .table_container .table_detail .table_scenario #id_scenario {
              margin-top: 5px;
              width: 400px;
              height: 25px;
              border: 2px solid #1F629A; }
          .container.body .body_container .regist_form .table_container .table_detail .table_character {
            margin-left: 410px;
            position: relative;
            width: 240px; }
            .container.body .body_container .regist_form .table_container .table_detail .table_character .table_character_title {
              display: block;
              box-sizing: border-box;
              border: 2px solid #1F629A;
              line-height: 20px; }
            .container.body .body_container .regist_form .table_container .table_detail .table_character #id_character {
              margin-top: 5px;
              width: 240px;
              height: 25px;
              border: 2px solid #1F629A; }
      .container.body .body_container .regist_form .player_container {
        margin-top: 20px; }
        .container.body .body_container .regist_form .player_container .player_title {
          margin: auto;
          width: 560px;
          font-size: 15px;
          line-height: 20px;
          text-align: center;
          border: 2px solid #1F629A; }
        .container.body .body_container .regist_form .player_container .player_detail {
          margin-top: 15px; }
          .container.body .body_container .regist_form .player_container .player_detail .player_detail_basic {
            text-align: center;
            position: relative; }
            .container.body .body_container .regist_form .player_container .player_detail .player_detail_basic .player_detail_name {
              width: 170px;
              display: block;
              position: absolute; }
              .container.body .body_container .regist_form .player_container .player_detail .player_detail_basic .player_detail_name .player_name_title {
                box-sizing: border-box;
                display: block;
                width: 170px;
                border: 2px solid #1F629A; }
              .container.body .body_container .regist_form .player_container .player_detail .player_detail_basic .player_detail_name #id_player_name {
                margin-top: 5px;
                display: block;
                width: 170px;
                box-sizing: border-box;
                border: 2px solid #1F629A;
                text-align: center;
                line-height: 20px; }
            .container.body .body_container .regist_form .player_container .player_detail .player_detail_basic .player_detail_phone_number {
              width: 250px;
              display: block;
              position: absolute;
              margin-left: 180px; }
              .container.body .body_container .regist_form .player_container .player_detail .player_detail_basic .player_detail_phone_number .player_phone_number_title {
                box-sizing: border-box;
                display: block;
                width: 250px;
                border: 2px solid #1F629A; }
              .container.body .body_container .regist_form .player_container .player_detail .player_detail_basic .player_detail_phone_number #id_player_phone_number {
                margin-top: 5px;
                width: 250px;
                box-sizing: border-box;
                border: 2px solid #1F629A;
                text-align: center;
                line-height: 20px; }
            .container.body .body_container .regist_form .player_container .player_detail .player_detail_basic .player_detail_gender {
              width: 60px;
              display: block;
              position: absolute;
              margin-left: 440px; }
              .container.body .body_container .regist_form .player_container .player_detail .player_detail_basic .player_detail_gender .player_gender_title {
                box-sizing: border-box;
                display: block;
                width: 60px;
                border: 2px solid #1F629A; }
              .container.body .body_container .regist_form .player_container .player_detail .player_detail_basic .player_detail_gender #id_player_gender {
                margin-top: 5px;
                display: block;
                width: 60px;
                box-sizing: border-box;
                border: 2px solid #1F629A;
                text-align: center;
                height: 26px; }
            .container.body .body_container .regist_form .player_container .player_detail .player_detail_basic .player_detail_adult {
              width: 140px;
              display: block;
              margin-left: 510px; }
              .container.body .body_container .regist_form .player_container .player_detail .player_detail_basic .player_detail_adult .player_adult_title {
                box-sizing: border-box;
                display: block;
                width: 140px;
                border: 2px solid #1F629A; }
              .container.body .body_container .regist_form .player_container .player_detail .player_detail_basic .player_detail_adult #id_player_adult {
                margin-top: 5px;
                display: block;
                width: 140px;
                box-sizing: border-box;
                border: 2px solid #1F629A;
                text-align: center;
                height: 26px; }
        .container.body .body_container .regist_form .player_container .player_detail_email {
          margin-top: 15px; }
          .container.body .body_container .regist_form .player_container .player_detail_email .player_email {
            display: block;
            width: 650px;
            box-sizing: border-box;
            border: 2px solid #1F629A;
            text-align: center; }
          .container.body .body_container .regist_form .player_container .player_detail_email #id_player_email {
            width: 650px;
            box-sizing: border-box;
            border: 2px solid #1F629A;
            margin-top: 5px;
            line-height: 20px;
            text-align: center; }
        .container.body .body_container .regist_form .player_container .player_detail_check {
          margin-top: 15px;
          height: 49px; }
          .container.body .body_container .regist_form .player_container .player_detail_check .player_agree {
            position: absolute;
            width: 540px;
            line-height: 15px;
            font-size: 12px; }
            .container.body .body_container .regist_form .player_container .player_detail_check .player_agree .player_agree_checkboxes {
              position: absolute;
              padding: 2px 0; }
              .container.body .body_container .regist_form .player_container .player_detail_check .player_agree .player_agree_checkboxes #id_agree_read_all {
                display: block;
                height: 15px;
                margin: auto; }
              .container.body .body_container .regist_form .player_container .player_detail_check .player_agree .player_agree_checkboxes #id_agree_no_problem {
                display: block;
                height: 15px;
                margin: auto; }
              .container.body .body_container .regist_form .player_container .player_detail_check .player_agree .player_agree_checkboxes #agree_face {
                display: block;
                height: 15px; }
            .container.body .body_container .regist_form .player_container .player_detail_check .player_agree .player_agree_lables {
              background-color: #e7e7d8;
              margin-left: 20px;
              padding: 2px 10px; }
              .container.body .body_container .regist_form .player_container .player_detail_check .player_agree .player_agree_lables label {
                display: block; }
          .container.body .body_container .regist_form .player_container .player_detail_check .player_submit {
            display: block;
            width: 105px;
            height: 49px;
            margin-left: 545px;
            box-sizing: border-box;
            border: 2px solid #1F629A;
            background-color: #d7f7ff;
            font-size: 15px;
            cursor: pointer; }
    .container.body .body_container .player_warning {
      padding: 10px;
      background-color: #e7e7d8;
      font-size: 10px;
      width: 670px;
      margin: auto;
      margin-top: 8px;
      word-break: break-all;
      line-height: 15px; }
  .container.body .footer_container {
    margin: auto;
    margin-top: 20px;
    width: 650px; }
    .container.body .footer_container .footer_title {
      text-align: center;
      font-weight: bold;
      font-size: 15px;
      line-height: 25px;
      margin: auto;
      box-sizing: border-box;
      border: 2px solid #1F629A; }
    .container.body .footer_container .footer_scenario_container {
      width: 490px;
      margin-top: 5px;
      position: absolute; }
      .container.body .footer_container .footer_scenario_container .footer_scenario {
        margin-top: 5px;
        border: 2px solid #1F629A;
        text-align: center;
        padding: 7px 5px; }
        .container.body .footer_container .footer_scenario_container .footer_scenario .footer_scenario_title {
          position: absolute;
          font-size: 20px;
          width: 320px;
          line-height: 38px; }
        .container.body .footer_container .footer_scenario_container .footer_scenario .footer_scenario_booked {
          position: absolute;
          width: 61px;
          margin-left: 330px;
          margin-top: 3.5px;
          text-align: left;
          font-size: 0; }
          .container.body .footer_container .footer_scenario_container .footer_scenario .footer_scenario_booked .scenario_character_status {
            line-height: 19px;
            width: 15px;
            height: 15px;
            box-sizing: border-box;
            border: 2px solid;
            display: inline-block;
            margin-right: 3px;
            margin-bottom: 3px; }
        .container.body .footer_container .footer_scenario_container .footer_scenario .footer_scenario_detail {
          font-size: 12px;
          width: 80px;
          margin: 4px 0;
          margin-left: 390px;
          line-height: 30px;
          box-sizing: border-box;
          border: 2px solid #1F629A;
          cursor: pointer; }
    .container.body .footer_container .footer_status_explain {
      width: 160px;
      margin-top: 10px;
      margin-left: 500px; }
      .container.body .footer_container .footer_status_explain .explain_title {
        text-align: center;
        font-weight: bold;
        line-height: 25px; }
      .container.body .footer_container .footer_status_explain .explain_body .explain_color {
        margin-top: 5px;
        width: 20px;
        position: absolute; }
        .container.body .footer_container .footer_status_explain .explain_body .explain_color .color_box {
          box-sizing: border-box;
          border: 2px solid;
          width: 15px;
          height: 15px;
          margin-bottom: 5px; }
      .container.body .footer_container .footer_status_explain .explain_body .explain_text {
        box-sizing: border-box;
        margin-left: 20px;
        width: 140px;
        padding: 5px;
        background: #e7e7d8;
        line-height: 20px;
        font-size: 10px; }

/*# sourceMappingURL=player_regist.css.map */
